

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyLyout</title>
</head>
<body>
    <div> 头部
    </div>
    @RenderBody()
    <p>尾部</p>
</body>
</html>
