
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEmployee</title>
</head>
<body>
    <div> 
        <form action="/employee/save" method="post">
            姓名：<input type="text" name="Name">
            工资：<input type="text" name="Salary">
            <input type="submit" value="保存"><input type="reset" value="重置">
        </form>
    </div>
</body>
</html>
